<%- include('partials/header.ejs')%>
<main>
    <div class="div-contenedor-de-imagenes">
        <h1>B MAS TENIS ACADEMIA - SINCE 2011</h1>
        <h3>Academia de tenis situada en Zona Sur del Gran Buenos Aires - Todos los niveles - Clases dinamicas diversas modalidades - Circuito de torneo con ranking donde se vuelca el conocimiento en la clase - Planificacion y armado de calendario para jugadores juniors - Participacion en la AAT (Asociacion Argentina de Tenis) - Tennis Express y mas... </h3>
        <img src="/images/torneos.jpg" height="400px" width="320px">
        <img src="/images/clases.jpg" height="400px" width="340px"> 
        
</div>
        </body>
        
        <%- include('partials/footer.ejs')%>

</html>

