<%- include('partials/header.ejs')%>

<link rel="stylesheet" href="/css/productos.css">
 <body>
    <main>
        <section>
            <h2 class="titulares">Tienda B Mas, todo lo que necesitas</h2>
            <div class="articulos">
                    
                </article>

                <article class="articulo">
                    <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen1.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen2.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen3.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen4.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen6.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen7.jpg" alt width="100%"></a>
                
                </article>
                    
                    <article class="articulo">
                        <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen10.jpg" alt width="100%"></a>
                    
                    </article>

                        <article class="articulo">
                            <a href="/tienda/productosDetalle"><img class="imagen-promo" src="/images/imagen12.jpg" alt width="100%"></a>
                </article>
            </div>
        </section>
    </main>

</body>
</html>
