<%- include('partials/header.ejs')%>
<link rel="stylesheet" href="/css/productosdetalle.css">
<main>
    <section class="contenedo-main">
        <div class="columnas">
            <section class="columna1">
                <div class="shadow"><img src="/images/imagen1.jpg" width="30%"></div>
                <div class="shadow"><img src="/images/imagen1.jpg" width="30%"></div>
                <div class="shadow"><img src="/images/imagen1.jpg" width="30%"></div>
            </section>
            <section class="columna2">
                <div class="shadow"><img src="/images/imagen1.jpg" width="100%"></div>
            </section>
            <section class="columna3">
                <div>
                    <span class="nombre">Raqueta Babolat Boost Edicion Limitada 2019</span><br>
                </div>
                <div class="precio">
                    <span><strong>$23.000</strong></span>
                </div>
                <div class="medios-de-pago">
                    <span> <strong> Medios de Pago</strong></span><br>
                    <img src="/imgages/tarjetas.jpg" alt width="100%">
                </div>
                <div class="compra"> 
                    <button class="botones-compra">Comprar Ahora</button>
                    <button class="botones-carrito">Agregar a la Bolsa</button>
                </div>
            </section>
        </div>
    </section>
</main>