<%- include('partials/header.ejs')%>
<body>

    <main>
        <h1>PROXIMO TORNEO</h1>
    <img src="/images/torneos.jpg" height="530px" width="450px">
    <img src="/images/torneos.jpg" height="530px" width="450px">
    <img src="/images/torneos.jpg" height="530px" width="450px">
    <img src="/images/torneos.jpg" height="530px" width="450px">
    </main>
    
</body>
</html>